    #question_type {
        color:red;
        background-color: yellow;
    }

    #question_optional {
        background-color: yellow;
    }

    #question {
        color:blue;
       
    }
    #php_question {
        color:red;
       
    }
    #optional {
        color:green;
       
    }
   
    thead {color: black;}
    
    /* #navigation #currentpage a {
    background: #fff;
    color: #333;
    } */